<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Maintenance Record</title>
    <link rel="stylesheet" th:href="@{/css/vehicle.css}"/>
</head>
<body>
    <header>
        <div class="container">
            <h1>Add Maintenance Record</h1>
        </div>
    </header>
    <div class="container">
        <form action="#" th:action="@{/maintenace/add}" th:object="${maintenanceRecord}" method="post">
            <input type="hidden" id="vehicleId" th:field="*{vehicleId}" required/><br/>

            <label for="date">Date:</label>
            <input type="date" id="date" th:field="*{date}" required/><br/>

            <label for="description">Description:</label>
            <input type="text" id="description" th:field="*{description}" required/><br/>

            <label for="mileage">Mileage:</label>
            <input type="number" id="mileage" th:field="*{mileage}" required/><br/>

            <button type="submit" class="btn btn-save">Add Record</button>
        </form>
        <a th:href="@{/}" class="btn btn-add">Back to Vehicle List</a>
    </div>
</body>
</html>
